html, body{
	height: 100%;
}
.jumbotron{
	position: fixed;
	background-image: url(images/porto.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: -99;
	height: 1264px;
	width: 1349px;
}
#quote {
	width: 1200px;
	margin: auto;
	color: white;
	
}

#overlay {
	position: absolute;
	top: 0px;
	height: 1080px;
	border: 2px solid blue;
	width: 1349px;
	background-color: black;
	opacity: 0.15;
	z-index: -50;
}

#container{
	position: absolute;
	top: 420px;
	left: 40px;
	bottom: 50px;
	background-color: white;
	z-index: 50px;
	height: 3000px;
	width: 1264px;
	
}
.name{
	margin: auto;
	height: 200px;
	width:810px;
	color: black;
}
#name{
	font-size: 100px;
}
nav {
	padding-left: 300px;
}
#about{
	border: 2px solid red;
	margin-top: 120px;
	margin-left: 200px;
	margin-right: 200px;
	height: 300px;
}

#portfolio{
	border: 2px solid blue;
	margin-top: 120px;
	/*margin-left: 200px;
	margin-right: 200px;*/
	margin: auto;
	height: 800px;
	width: 1000px;
}

#nyt {
	/*height:300px;*/
/*	width: 580px;*/
	border: 1px solid black;
/*	margin-left: 100px;
	margin-top: 20px;*/
	font-size: 20px;
}

#triviaDiv{
	border: 2px solid purple;
	width: 300px;
	height: 100px;
	float: right;
}
#trivia {
	float: right;
	margin-top: 60px;
}
#contact {
	border: 2px solid purple;
	margin-top: 120px;
	margin-left: 200px;
	margin-right: 200px;
	width: 350px;
}
#liri {

}
#liri-gif {


}


/*#inside {
	border: 2px solid red;
}
ul{
	float: right;
	margin-bottom: 5px;
}
.container.text-center{
	border: 2px solid red;
	width: 1000px;
} 
a{
	color: white;
	background-color: yellow;
}
